.parent {
  font-size: 10px;
}

html {
  font-size: 10px;
}

.child {
  font-size: 2rem;
  /* 16px --> 16*2 = 32px */
  width: 2rem;
  /* 16px --> 16*2 = 32px */
  height: 2rem;
  /* 16px --> 16*2 = 32px */
  background-color: violet;
  border: 0.2rem solid red;
}
