body {
  background-color: aqua;
}

.box {
  color: yellow;
  width: 250px;
  height: 250px;
  /* Mặc định bgc: transparent*/
  background-color: transparent;
  background-color: red;
  background-color: rgb(0, 0, 255);
  background-color: #ccc;
  background-color: currentColor;

  margin: 45px;
  padding: 20px;
  border: 20px dotted red;
}
